<ul>
  <li *ngFor="let todo of todos"
      class="well">
    <h2 class="text-wrap">{{todo.title}}</h2>
    <h4>
      Created at:
      <em>{{todo.createdAt | date:'medium'}}</em>
    </h4>
    <p class="text-ellipsis">{{todo.description}}</p>
    <button *ngIf="!completed"
            (click)="onComplete(todo)"
            class="btn btn-success">
      <i class="material-icons">check</i>
      Complete
    </button>
    <button (click)="onDelete(todo)"
            class="btn btn-danger">
      <i class="material-icons">delete</i>
      Delete
    </button>
  </li>
</ul>
