<tl-todo-form></tl-todo-form>

<section>
  <h1 class="text-center">
    <i class="material-icons">format_list_bulleted</i>
    <span>Todos</span>
  </h1>
  <tl-todo-list [todos]="uncompletedTodos"
                (complete)="completeTodo($event)"
                (delete)="deleteTodo($event)">
  </tl-todo-list>
</section>

<section *ngIf="completedTodos.length > 0">
  <h1 class="text-center">
    <i class="material-icons">check</i>
    Done
  </h1>
  <tl-todo-list [todos]="completedTodos"
                (delete)="deleteTodo($event)">
  </tl-todo-list>
</section>
